BuenosAires/BodegaBA-CSharp/BodegaBA/Connected Services/WsObtenerAnwoReference/WsAnwo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54964/WsAnwo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" />
  <xs:element name="ObtenerAnwoListaProducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAnwoListaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="ObtenerAnwoListaProductoResult" nillable="true" type="q1:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nroserieanwo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="ReservarProductoResult" nillable="true" type="q2:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>