BuenosAires/BodegaBA-CSharp/BodegaBA/Connected Services/WsConsultaDespachoReference/WsGuiaDespacho.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsGuiaDespacho" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54964/WsGuiaDespacho.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54964/WsGuiaDespacho.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54964/WsGuiaDespacho.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsGuiaDespacho_ConsultarGuiasDespacho_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarGuiasDespacho" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_ConsultarGuiasDespacho_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarGuiasDespachoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_ActualizarEstadoGuia_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoGuia" />
  </wsdl:message>
  <wsdl:message name="IWsGuiaDespacho_ActualizarEstadoGuia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoGuiaResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsGuiaDespacho">
    <wsdl:operation name="ConsultarGuiasDespacho">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsGuiaDespacho/ConsultarGuiasDespacho" message="tns:IWsGuiaDespacho_ConsultarGuiasDespacho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsGuiaDespacho/ConsultarGuiasDespachoResponse" message="tns:IWsGuiaDespacho_ConsultarGuiasDespacho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstadoGuia">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsGuiaDespacho/ActualizarEstadoGuia" message="tns:IWsGuiaDespacho_ActualizarEstadoGuia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsGuiaDespacho/ActualizarEstadoGuiaResponse" message="tns:IWsGuiaDespacho_ActualizarEstadoGuia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsGuiaDespacho" type="tns:IWsGuiaDespacho">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarGuiasDespacho">
      <soap:operation soapAction="http://tempuri.org/IWsGuiaDespacho/ConsultarGuiasDespacho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstadoGuia">
      <soap:operation soapAction="http://tempuri.org/IWsGuiaDespacho/ActualizarEstadoGuia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsGuiaDespacho">
    <wsdl:port name="BasicHttpBinding_IWsGuiaDespacho" binding="tns:BasicHttpBinding_IWsGuiaDespacho">
      <soap:address location="http://localhost:54964/WsGuiaDespacho.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>